<div style="padding-left: 0px;padding-right: 0px;" class="container">
    <div class="row">
        <div class="col-md-2">
            <p style="padding-top: 20px;" class="editprofile-partial-header">Basic Info</p>
            <p><span class="editprofile-brief-explanation h8">This section captures your introductory information.</span></p>
        </div>
        <div class="col-md-6">
		    
		    <form style="padding-top: 15px;" role="form">
		         <div class="row">
		            <div class="col-xs-7 form-group">
		                <input type="text" class="form-control" placeholder="Enter your name">
		            </div>
		         </div>
		         
		         <div class="row">
		            <div class="col-xs-7 form-group">
		               <input type="text" class="form-control" placeholder="Enter your Email">
		            </div>
		            <div class="help-block">You can change your email.</div>
		         </div>
		
		         <div class="row">
		             <div class="col-xs-7 form-group">
		                 <input type="text" class="form-control" placeholder="Enter your Phone number">
		             </div>
		             <div class="help-block">Businesses will contact you on this number.</div>                
		         </div>   
		         
		         <div class="row">
		             <div class="col-xs-7 form-group">
		                 <input type="text" class="form-control" placeholder="Where are you located?">
		             </div>
		             <div class="help-block">e.g. Electronic City</div>
		         </div>
		
		         <div class="row">
		            <div class="col-xs-7 form-group">
		                <input type="text" class="form-control" placeholder="Enter your City.">
		            </div>
		            <div class="help-block">Start typing to find.</div>
		         </div>
		                      
		         <div class="row">
		            <div class="col-xs-4 form-group">                    
		               <a href="#experience" class="btn-default btn-block btn">Save &amp; Next</a>
		            </div>
		            <div class="col-xs-3 form-group">                    
                       <a href="#experience" class="btn-secondary btn-block btn">Save</a>                     
                    </div>
		         </div> 
		         
		    </form>
	    </div>
    </div> 
</div>