
<div class="col-lg-6">
	<legend>
		<i style="display: inline-block; margin-right: 10px; align: center;"
			class="glyphicon glyphicon-phone"></i>
		<h4
			style="font-size: 1.2em; display: inline-block; font-family: 'Alegreya Sans SC', sans-serif;; font-weight: 800;">Customers</h4>
	</legend>
</div>

<div class="col-lg-8 pull-right">
      <span>
	    	<h3>Enter the customer details below.</h3>
	    </span>
	<div>
	    
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<div class="col-sm-4">
					<input style="font-size: 1.0em; font-family: 'Raleway', sans-serif;" 
						class="input-lg form-control" type="text" id="productTitle"
						placeholder="First Name">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-4">
					<input
						style="font-size: 1.0em; font-family: 'Raleway', sans-serif;"
						class="input-lg form-control" type="text" id="productBrand"
						placeholder="Last Name">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-4">
					<input style="font-size: 1em; font-family: 'Raleway', sans-serif;"
						class="input-lg form-control" type="text" id="productDescription"
						placeholder="Mobile">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-5">
					<input
						style="font-size: 1em; font-family: 'Raleway', sans-serif;"
						class="input-lg form-control" type="text" id="productPrice"
						placeholder="Email">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-2">
					<input
						style="font-size: 1em; font-family: 'Raleway', sans-serif;"
						class="input-lg form-control" type="text" id="discountedPrice"
						placeholder="Age">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-2">
					<input
						style="font-size: 1em; font-family: 'Raleway', sans-serif;"
						class="input-lg form-control" type="text" id="productQuantity"
						placeholder="Sex">
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2">
					<button type="submit" class="btn-form btn btn-default "
						ng-click="isCollapsed = !isCollapsed ">SAVE Customer</button>
				</div>

				<div class="col-xs-2">
					<button type="submit" class="btn-form btn btn-default "
						ng-click="isCollapsed = !isCollapsed ">SAVE and ADD
						Another</button>
				</div>
			</div>

			<div collapse="isCollapsed">
				<div class="well">Coupon details</div>
			</div>
		</form>
	</div>
</div>
