@font-face {
    font-family: 'aconnect_icons';
    src:url('../fonts/aconnect_icons.eot?61dfpp');
    src:url('../fonts/aconnect_icons.eot?#iefix61dfpp') format('embedded-opentype'),
        url('../fonts/aconnect_icons.woff?61dfpp') format('woff'),
        url('../fonts/aconnect_icons.ttf?61dfpp') format('truetype'),
        url('../fonts/aconnect_icons.svg?61dfpp#aconnect_icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'aconnect_icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-help:before {
    content: "\e600";
}
.icon-question:before {
    content: "\e601";
}
.icon-growth_acFaq:before {
    content: "\e604";
}
.icon-find_accountant_acFaq:before {
    content: "\e605";
}
.icon-growth_landing:before {
    content: "\e603";
}
.icon-find_accountant_landing:before {
    content: "\e606";
}
.icon-create_profile_landing:before {
    content: "\e607";
}
.icon-collaboration_landing-acFaq:before {
    content: "\e608";
}
.icon-collaboration_acFaq:before {
    content: "\e609";
}
.icon-share_articles_acFaq:before {
    content: "\e602";
}
.icon-location:before {
    content: "\e633";
}
.icon-phone:before {
    content: "\e630";
}
